@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Lato, sans-serif;
  font-style: light;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
}

::selection {
  background: #ffc6ff; /* WebKit/Blink Browsers */
}

a {
  @apply text-azure;
}
