@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  font-family: Lato, sans-serif;
  background: #ffc6ff; /* WebKit/Blink Browsers */
}

/* h1 {
  @apply text-4xl;
  font-family: Lato;
} */
